doctype html
html(lang="en")
  head
  body
    h1 404 The #{page} page was not found
    // links or URLs are always GET resources as they are getting (retrieving) a resource
    a(href="/") Home
    br
    img(src="/assets/img/internet.png")