doctype html
html(lang="en")
  head
  body
    h1 Welcome to page 3
    // links or URLs are always GET resources as they are getting (retrieving) a resource
    a(href="/") Home
    a(href="/page1") Page 1
    a(href="/page2") Page 2
    form(action="/setDogName", method="POST")
      | Name:
      input(type="text", name="name", value="")
      | Breed:
      input(type="text", name="breed", value="")
      | Age:
      input(type="number", name="age" value="")
      input(type="submit", value="Submit")
    br
    br
    //form to find a cat by full name (instead of first name and last name)
    form(action="/findDogByName", method="GET")
      | Name to search for:
      input(type="text", name="name", value="")
      input(type="submit", value="Submit") 